@{
    ViewData["Title"] = "Acceso Denegado";
}
<div class="container mt-5 text-center">
    <h2 class="text-danger">Acceso Denegado</h2>
    <p>No tienes permisos para acceder a esta sección.</p>
    <a href="/Productoes" class="btn btn-primary">Volver al inicio</a>
</div>